/* Left Container */
.leftContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.leftContainer div {
  line-height: 0.9;
}

.icons {
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.icon {
  width: 25px;
  height: 25px;
}