.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  flex-direction: row; /* default to row layout */
  background-color: cadetblue;
}
