body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: rgb(248, 248, 248);

}


/* Big Container */
.bigContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1080px; /* fixed width for large screens */
  height: 500px;
  color: #777;
}

.bigContainer span {
  font-weight: 500;
  color: #000;
  cursor: pointer;
}


/* Responsive Styles */
@media (max-width: 1100px) {
  body {
    margin-top: 100px;
    text-align: left;
    padding: 45px;
    color: red;
  }
  /* Adjust bigContainer width for medium screens */
  .bigContainer {
    width: 100%; /* Make it responsive on medium screens */
    
  }
}

@media (max-width: 1097px) {
  /* Adjust flex proportions for smaller screens */
  .leftContainer, .rightContainer {
    flex: 1;
    margin: 10px;
    
  }

  .leftContainer {
    line-height: 2;
    padding: 20px;
  }
  .leftContainer div p {
    line-height: 1.5;
    
  }
}

@media (max-width: 768px) {
  /* Stack containers vertically */
  .App {
   
    flex-direction: column;
    padding: 10px;
  }

  .bigContainer {
    flex-direction: column; 
    height: auto; 
  }

  .leftContainer {
   
    padding: 0;
    margin-top: 100px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .rightContainer h1 {
    font-size: 1.5em; 
  }

  .WorkItem {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  
  .App {
    padding: 5px;
  }

  .bigContainer {
    flex-direction: column; 
    height: auto; 
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .rightContainer h1 {
    font-size: 1.2em;
  }

  .WorkItem {
    font-size: 0.8em;
  }

  h3 {
    font-size: 1em;
  }
}